@model CategoryModel
@{
    ViewData["Title"] = Model.Name + " adlı katagoriyi güncelleme işlemi.";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Kategori İşlemleri</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-controller="Product" asp-action="EditCategory" method="post">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="card-body">
                    <div class="form-group row">
                        <label asp-for="Name">Kategori Adı</label>
                        <input asp-for="Name" value="@Model.Name" class="form-control" placeholder="Kategori Adı Giriniz...">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        Kaydet
                    </button>
                    <a class="btn btn-outline-info ml-6" href='javascript:history.go(-1)'>
                        <i class="fas fa-chevron-left"></i>
                        Listeye Dön
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="col col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mr-4">Ürün Listesi</h3>
                <a class="btn btn-primary" asp-controller="Product" asp-action="CreateProduct">Ürün Ekle</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @if (Model.Products.Count() > 0)
                {
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="30">Id</th>
                                <th width="100">Ürün Resmi</th>
                                <th>Ürün İsmi</th>
                                <th width="100">Fiyatı</th>
                                <th width="130"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <img src="~/img/@item.ImageUrl" width="100" />
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm mr-2" href="/admin/products/@item.Id">Güncelle</a>

                                        <form action="/product/deletefromcategory" method="post" style="display:inline">
                                            <input type="hidden" name="productId" value="@item.Id" />
                                            <input type="hidden" name="categoryId" value="@Model.Id" />
                                            <button class="btn btn-danger btn-sm" type="submit">Sil</button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Ürün Resmi</th>
                                <th>Ürün İsmi</th>
                                <th>Fiyatı</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                }
                else
                {
                    <div class="alert alert-warning">Henüz Bir Ürün Eklemediniz.</div>
                }
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>