@model AboutModel
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4 class="text-primary">BİZİM HİKAYEMİZ</h4>
                <h2>@Model.AboutTitle</h2>
                <p>@Model.AboutDescription</p>
                <br>
                <p>
                    Bağlantı Kurun — <br>
                    Bizimle Nasıl İletişim Kuracağınızı Öğrenin.
                </p>
                <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">Bize Ulaşın</a>
                <div class="industris-space-sm"></div>
            </div>
            <div class="col-md-offset-1 col-md-5 col-sm-12 sm-center">
                <div class="about-img-right">
                    <img src="~/img/about/@(Model.ImageUrl)" alt="">
                    <div class="about-img-small">
                        <div class="overlay"><img src="~/img/about/about-circle.png" class="circle-img" alt=""></div>
                        <div class="about-content">
                            <h2 class="text-primary">@Model.ExperienceYear+</h2>
                            <p class="text-white">Yılların Deneyimi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="industris-space-60"></div>
    <div class="industris-space"></div>
</section>

<section class="video-about">
    <div class="container-custom">
        <div class="bg-about-video"><img src="@(Url.Content("~/img/about/bg-about-video.jpg"))" alt=""></div>
        <div class="container">
            <div class="breadc-box">
                <div class="row">
                    <div class="col-md-5 col-sm-8 col-xs-12">
                        <h4 class="text-white">@Model.YoutubeTitle</h4>
                        <h2 class="text-white">@Model.YoutubeDescription</h2>
                    </div>
                    <div class="col-md-offset-1 col-md-6 col-sm-4 col-xs-12 text-right">
                        <div class="about-video video-player">
                            <a class="play-btn" href="@(Model.YoutubeUrl)"><i class="icon ion-ios-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="industris-space-60"></div>
    <div class="industris-space"></div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="row">
            @if (!(string.IsNullOrEmpty(Model.DifferentText) || string.IsNullOrEmpty(Model.DifferentKeywords)))
            {


                <div class="col-md-7">
                    <h3>@Model.ValuesTitle</h3>
                    <p>@Model.ValuesDescription</p>
                    <img src="@(Model.InfoModel.LogoHeader)" alt="">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-6 no-padding-sm-left">
                            <div class="about-author">
                                <div class="about-author-info">
                                    <h4><strong>@Model.Founder</strong></h4>
                                    <p>@Model.Rank</p>
                                </div>
                                <div class="about-author-media">
                                    <a href="@(Model.InfoModel.FacebookUrl)"><i class="icon ion-logo-facebook"></i></a>
                                    <a href="@(Model.InfoModel.TwitterUrl)"><i class="icon ion-logo-twitter"></i></a>
                                    <a href="@(Model.InfoModel.InstagramUrl)"><i class="icon ion-logo-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="industris-space-sm"></div>
                </div>
                <div class="col-md-offset-1 col-md-4 about-border-left">
                    <h3>Neden Farklıyız?</h3>
                    <p>@Model.DifferentText</p>
                    <ul class="unstyle">
                        @foreach (var item in Model.DifferentKeywords.ToSplit())
                        {
                            <li><i class="icon ion-md-checkmark-circle"></i><a href="#">@item</a></li>
                        }
                    </ul>
                    <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">Bizimle İlteişime Geçin</a>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <h3>@Model.ValuesTitle</h3>
                    <p>@Model.ValuesDescription</p>
                    <img src="@(Model.InfoModel.LogoHeader)" alt="">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-6 no-padding-sm-left">
                            <div class="about-author">
                                <div class="about-author-info">
                                    <h4><strong>@Model.Founder</strong></h4>
                                    <p>@Model.Rank</p>
                                </div>
                                <div class="about-author-media">
                                    <a href="@(Model.InfoModel.FacebookUrl)"><i class="icon ion-logo-facebook"></i></a>
                                    <a href="@(Model.InfoModel.TwitterUrl)"><i class="icon ion-logo-twitter"></i></a>
                                    <a href="@(Model.InfoModel.InstagramUrl)"><i class="icon ion-logo-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="industris-space-sm"></div>
                </div>
            }
        </div>
    </div>
    <div class="industris-space-60"></div>
    <div class="industris-space"></div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>VİZYONUMUZ</h3>
                <img src="~/img/about/vision.jpg" alt="">
                <div class="industris-space-60"></div>
                <p>@Model.Vision</p>
                <div class="industris-space-sm"></div>
            </div>
            <div class="col-md-offset-1 col-md-5 about-border-left">
                <h3>MİSYONUMUZ</h3>
                <img src="~/img/about/mission.jpg" alt="">
                <div class="industris-space-60"></div>
                <p>@Model.Mission</p>
                <div class="industris-space-sm"></div>
            </div>
        </div>
    </div>
    <div class="industris-space-60"></div>
    <div class="industris-space"></div>
</section>