@model AboutModel
<section class="bg-primary no-padding">
    <div class="">
        <div class="flex-row">
            <div class="video-section-left" style="background-image:url('@Url.Content("~/img/about/"+Model.YoutubeHomeImageUrl)');">
                <div class="home-video video-player">
                    <a class="video-play" href="@(Model.YoutubeUrl)"><i class="icon ion-md-play"></i></a>
                </div>
            </div>
            <div class="video-section-right">
                <div class="block-right">
                    <h4>Bizim Hikayemiz</h4>
                    <h2>@Model.AboutTitle</h2>
                    <p>@(Model.AboutDescription.ToSubstring(lenght: 200))...<br /><a class="text-white" asp-controller="About" asp-action="Index"> Daha Fazla Oku</a></p>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-11 no-padding-sm-left">
                            <div class="about-author">
                                <div class="about-author-info">
                                    <h4><strong>@Model.Founder</strong></h4>
                                    <p>@Model.Rank</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="partner-slider image-carousel text-center" data-show="5" data-arrow="false">

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="partner-item text-center clearfix">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://via.placeholder.com/200x90.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-default">
    <div class="container">
        <div class="row flex-row">
            <div class="col-md-8">
                <h4 class="text-primary">VİZYONUMUZ - MİSYONUMUZ</h4>
                <h2 class="text-white no-margin-bottom">Firmamızın Vizyon ve Misyonu</h2>
            </div>
        </div>
        <div class="industris-space-20"></div>

        <div class="row">
            <div class="col-md-12">

                <div class="project-feature-slider project-feature" data-show="3" data-arrow="true">

                    <div class="project-item col-lg-6 col-sm-6">
                        <div class="inner">
                            <img src="~/img/about/vision.jpg" alt="">
                            <div class="project-info">
                                <div class="project-meta">VİZYONUMUZ</div>
                                <div class="project-content">
                                    <p>@(Model.Vision.ToSubstring())...</p>
                                    <a asp-controller="About" asp-action="Index">Devamını Gör <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-item col-lg-4 col-sm-6">
                        <div class="inner">
                            <img src="~/img/about/mission.jpg" alt="">
                            <div class="project-info">
                                <div class="project-meta">MİSYONUMUZ</div>
                                <div class="project-content">
                                    <p>@(Model.Mission.ToSubstring())...</p>
                                    <a asp-controller="About" asp-action="Index">Devamını Gör <i class="icon ion-md-add-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="industris-space-90"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h3 class="text-white">Çalışma Sürecimiz</h3>
            </div>
            <div class="col-md-9">
                <p class="text-white border-left">@Model.WorkProcess</p>
            </div>
        </div>
        <div class="industris-space"></div>
    </div>
</section>