@model AboutModel
<section class="bg-primary no-padding">
    <div class="">
        <div class="flex-row">
            <div class="video-section-left" style="background-image:url('@Url.Content("~/img/about/"+Model.YoutubeHomeImageUrl)');">
                <div class="home-video video-player">
                    <a class="video-play" href="@(Model.YoutubeUrl)"><i class="icon ion-md-play"></i></a>
                </div>
            </div>
            <div class="video-section-right">
                <div class="block-right">
                    <h4>Bizim Hikayemiz</h4>
                    <h2>@Model.AboutTitle</h2>
                    <p>@(Model.AboutDescription.ToSubstring(lenght: 200))...<br /><a class="text-white" asp-controller="About" asp-action="Index"> Daha Fazla Oku</a></p>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-11 no-padding-sm-left">
                            <div class="about-author">
                                <div class="about-author-info">
                                    <h4><strong>@Model.Founder</strong></h4>
                                    <p>@Model.Rank</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>