@model News
<div class="col-md-6 col-sm-6 col-xs-12">
    <article class="post-box post type-post entry">
        <div class="entry-media">
            <a href="post.html">
                <img src="@Model.ImageUrl" alt="@Model.Title">
            </a>
        </div>
        <div class="inner-post">
            <header class="entry-header">

                <div class="entry-meta">
                    <span class="posted-on">
                        <span class="entry-date published">@Model.DateTime.ToLongDateString()</span>
                    </span>
                    <span class="posted-in">
                        <a asp-controller="News" asp-action="Detail" asp-route-id="@Model.Id" rel="category tag">@Model.Author</a>
                    </span>
                </div>
                <!-- .entry-meta -->
                <h3 class="entry-title"><a asp-controller="News" asp-action="Detail" asp-route-id="@Model.Id" rel="bookmark">@Model.Title</a></h3>
            </header>
            <!-- .entry-header -->

            <div class="entry-summary">
                <p> @(Model.Description.ToSubstring())...</p>
            </div>
            <!-- .entry-content -->

            <footer class="entry-footer">
                <a class="post-link" asp-controller="News" asp-action="Detail" asp-route-id="@Model.Id">Haber Detayıına Git<i class="icon ion-md-add-circle-outline"></i></a>
            </footer>
            <!-- .entry-footer -->
        </div>
    </article>
</div>