@model IEnumerable<News>
<section class="bg-light padding-bottom-medium">
    <div class="container">
        <div class="row flex-row">

            <div class="col-md-6">
                <h4 class="text-primary">HABER</h4>
                <h2 class="no-margin-bottom">Blog Haberlerimiz</h2>
            </div>
            <div class="col-md-6 text-right align-self-end">
                <a class="industris-lineheight" asp-controller="News" asp-action="Index">Tüm Blog Haberlerini Gör<i class="icon ion-md-add-circle-outline"></i></a>
            </div>
        </div>
        <div class="industris-space-50"></div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="post-box post type-post entry">
                        <div class="entry-media">
                            <a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="~/img/news/@item.ImageUrl" alt="@item.Title">
                            </a>
                        </div>
                        <div class="inner-post">
                            <header class="entry-header">

                                <div class="entry-meta">
                                    <span class="posted-on">
                                        <span class="entry-date published">@item.DateTime.ToShortDateString()</span>
                                    </span>
                                    <span class="posted-in">
                                        <a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id" rel="category tag">@item.Author</a>
                                    </span>
                                </div>
                                <!-- .entry-meta -->
                                <h3 class="entry-title"><a asp-controller="News" asp-action="Detail" asp-route-id="@item.Id" rel="bookmark">@item.Title</a></h3>
                            </header>
                            <!-- .entry-header -->

                            <div class="entry-summary">
                                <p> @(Html.Raw(item.Description.ToSubstring()))...</p>
                            </div>
                            <!-- .entry-content -->

                            <footer class="entry-footer">
                                <a class="post-link" asp-controller="News" asp-action="Detail" asp-route-id="@item.Id">Haber Detayıına Git<i class="icon ion-md-add-circle-outline"></i></a>
                            </footer>
                            <!-- .entry-footer -->
                        </div>
                    </article>
                </div>
            }
        </div>
    </div>
</section>