<header id="site-header" class="site-header mobile-header-blue header-style-1">
    <!-- Top bar close -->
    <div class="main-header md-hidden sm-hidden">
        <div class="container-custom">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo-brand">
                        <a href="/"><img src="~/img/logo.png" alt="Nakış Kalıp"></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="main-navigation">
                        <ul id="primary-menu" class="menu">
                            <li class="menu-item @(ViewBag.SelectedMenu=="Home"?"current-menu-ancestor current-menu-parent":"")">
                                <a href="/">Anasayfa</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="About"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-controller="About" asp-action="Index">Hakkımızda</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="Shop"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-controller="Shop" asp-action="Index">Ürünler</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="News"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-area="" asp-controller="News" asp-action="Index">Haberler</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="Contact"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-controller="Contact" asp-action="Index">İletişim</a>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary">Giriş / Kaydol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main header start -->
    <!-- Mobile header start -->
    <div class="mobile-header">
        <div class="container-custom">
            <div class="row">
                <div class="col-xs-6">
                    <div class="logo-brand-mobile">
                        <a href="/"><img src="~/img/logo.png" alt="Okka Kalıp"></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="mmenu_toggle">
                        <button></button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-nav">
                        <ul id="primary-menu-mobile" class="mobile-menu">
                            <li class="menu-item @(ViewBag.SelectedMenu=="Home"?"current-menu-ancestor current-menu-parent":"")">
                                <a href="/">Anasayfa</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="About"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-controller="About" asp-action="Index">Hakkımızda</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="Shop"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-controller="Shop" asp-action="Index">Ürünler</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="News"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-controller="News" asp-action="Index">Haberler</a>
                            </li>
                            <li class="menu-item @(ViewBag.SelectedMenu=="Contact"?"current-menu-ancestor current-menu-parent":"")">
                                <a asp-controller="Contact" asp-action="Index">İletişim</a>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary">Giriş / Kaydol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>