@model BaseModel
<footer id="site-footer" class="site-footer bg-footer">
    <div class="main-footer">
        <div class="container-custom">
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="widget-footer">
                        <div id="media_image-1" class="widget widget_media_image">
                            <a asp-controller="Home" asp-action="Index"><img src="~/img/info/@Model.InfoModel.LogoFooter" alt=""></a>
                        </div>
                        <div id="custom_html-1" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <p>Gizlilik | Copyright ©2020 <b>Ahmet Tınastepe.</b> <br>Tüm Hakları Saklıdır</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-3 -->

            


                <div class="col-md-4 col-sm-6">
                    <div class="widget-footer">
                        <div class="footer-social ot-socials bg-white">
                            <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                            <a asp-controller="About" asp-action="Index">Kurumsal</a>
                            <a asp-controller="Shop" asp-action="Index">Ürünler</a>
                            <a asp-controller="News" asp-action="Index">Haberler</a>
                            <a asp-controller="Contact" asp-action="Index">İletişim</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6">
                    <div class="widget-footer">

                        <div id="mc4wp_form_widget-1" class="widget widget_mc4wp_form_widget">
                            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Giriş Yap</a>
                        </div>

                        <div class="footer-social ot-socials bg-white">
                            sosyal Medyada Bizi Takip Edin:
                            <a target="_blank" href="@(Model.InfoModel.FacebookUrl)" rel="noopener noreferrer"><i class="icon ion-logo-facebook"></i></a>
                            <a target="_blank" href="@(Model.InfoModel.InstagramUrl)" rel="noopener noreferrer"><i class="icon ion-logo-instagram"></i></a>
                            <a target="_blank" href="@(Model.InfoModel.TwitterUrl)" rel="noopener noreferrer"><i class="icon ion-logo-twitter"></i></a>
                            <a target="_blank" href="@(Model.InfoModel.YoutubeUrl)" rel="noopener noreferrer"><i class="icon ion-logo-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-3 -->

            </div>
        </div>
    </div>
    <!-- .main-footer -->
    <div class="footer-bottom">
        <div class="container-custom">
            <div class="row">
                <div class="col-md-12">
                    <ul class="topbar-left">
                        <li><i class="icon ion-md-pin"></i>@Model.InfoModel.Address</li>
                        <li><i class="icon ion-md-call"></i>@Model.InfoModel.Tel1</li>
                        <li><i class="icon ion-md-mail"></i>@Model.InfoModel.Email1</li>
                    </ul>
                    <a id="back-to-top" href="#" class="btn btn-back-to-top pull-right">Yukarı Çık<i class="icon ion-ios-arrow-dropup-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- .copyright-footer -->
</footer>